.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--base-color);
    border-radius: 50%;
    right: 5.94vw;
    bottom: 6.75vh;
    width: 17.01vw;
    height: 17.01vw;
    box-shadow: 1px 12px 12px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}